<div class="activitystream-item">
<ul>
<% @activities.each do |activity| %>
<li>
<span>
<%= activity.content %>
<br />
<span class="activitystream-created"><%= activity.published_at %></span>
<br />
<a href="">comment</a> | <a href="">send message</a>
</span>
</li>
<% end %>
</ul>
</div>
