<div class="activitystream-item">
<ul>
<% @activities.each do |activity| %>
<li>
<%= activity.title %> <span class="activitystream-created"><%= activity.published_at %></span><br />
<%= activity.content %>
</li>
<% end %>
</ul>
